language: php

php:
  - hhvm
  - 5.6
  - 5.5
  - 5.4
  - 5.3

script:
  - phpunit

before_install:
  - sudo add-apt-repository -y ppa:moti-p/cc
  - sudo apt-get update
  - sudo apt-get -y --reinstall install imagemagick
  - printf "\n" | pecl install imagick-beta